@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");
body {
  background-color: #F9F9F9;
  color: #7B7B7B;
  font-family: 'noto sans TC', serif;
}

input, button {
  border: 0;
  outline: none;
  background-color: transparent;
  border-radius: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.main {
  overflow: hidden;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
}

.subTitle {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 25px;
  color: #333;
}

@media screen and (max-width: 991px) {
  .subTitle {
    font-size: 28px;
  }
}

.text {
  letter-spacing: 0.08em;
  margin-bottom: 40px;
  text-align: justify;
}

.btn_pill_bgBlue {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 8px 8px 45px;
  border-radius: 100px;
  background-color: #2386BC;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: 1px solid #2386BC;
}

.btn_pill_bgBlue span {
  display: block;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-right: 25px;
}

.btn_pill_bgBlue_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  background-color: #fff;
  width: 35px;
  height: 35px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn_pill_bgBlue_icon svg {
  width: 22px;
  height: 22px;
}

.btn_pill_bgBlue_icon svg path {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn_pill_bgBlue:hover {
  background-color: transparent;
}

.btn_pill_bgBlue:hover span {
  color: #2386BC;
}

.btn_pill_bgBlue:hover .btn_pill_bgBlue_icon {
  background-color: #2386BC;
}

.btn_pill_bgBlue:hover .btn_pill_bgBlue_icon svg path {
  fill: #fff;
}

.btn_pill_bgWhite {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 8px 8px 45px;
  border-radius: 100px;
  background-color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: 1px solid #fff;
}

.btn_pill_bgWhite span {
  display: block;
  color: #2386BC;
  font-size: 18px;
  font-weight: 500;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-right: 25px;
}

.btn_pill_bgWhite_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  background-color: #2386BC;
  width: 35px;
  height: 35px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn_pill_bgWhite_icon svg {
  width: 22px;
  height: 22px;
}

.btn_pill_bgWhite_icon svg path {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  fill: #fff;
}

.btn_pill_bgWhite:hover {
  background-color: #2386BC;
}

.btn_pill_bgWhite:hover span {
  color: #fff;
}

.btn_pill_bgWhite:hover .btn_pill_bgBlue_icon {
  background-color: #fff;
}

.btn_pill_bgWhite:hover .btn_pill_bgBlue_icon svg path {
  fill: #2386BC;
}

.input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.input label {
  display: block;
  width: 80px;
  padding-right: 10px;
  text-align: center;
}

.input input {
  width: calc(100% - 80px);
  height: 50px;
  border-radius: 13px;
  padding: 0 15px;
}

.input-bgBlue label {
  color: #7B7B7B;
}

.input-bgBlue input {
  background: rgba(219, 240, 252, 0.5);
}

.input-bgWhite label {
  color: #fff;
}

.input-bgWhite input {
  background: rgba(255, 255, 255, 0.73);
}

.round {
  position: absolute;
  width: 5vw;
  z-index: -1;
}

@media screen and (max-width: 767px) {
  .round {
    width: 8vw;
  }
}

@media screen and (max-width: 400px) {
  .round {
    width: 10vw;
  }
}

.header {
  position: fixed;
  height: 84px;
  width: 100%;
  top: 0;
  left: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 10;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.1)), to(rgba(255, 255, 255, 0.9)));
  background: linear-gradient(to top, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.9) 100%);
}

.header > .container {
  height: 100%;
}

.header_logo {
  width: 150px;
}

.header .btn-download {
  background-color: #2386BC;
  border-radius: 100px;
  padding: 6px 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  position: relative;
  margin-right: 15px;
}

.header .btn-download span {
  color: #fff;
  font-size: 14px;
  margin-right: 5px;
}

.header .btn-download:hover {
  background-color: #1278AF;
}

.header .download-list {
  position: absolute;
  top: calc(100% + 10px);
  right: 0;
  background-color: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
  padding: 10px 0;
  display: none;
}

.header .download-list a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 5px 15px;
}

.header .download-list a img {
  width: 20px;
  margin-right: 8px;
}

.header .download-list a span {
  color: #7B7B7B;
  font-size: 13px;
}

.header .download-list a:hover {
  background-color: #DBF0FC;
}

.header .btn-login {
  background-color: #2386BC;
  border-radius: 100px;
  padding: 6px 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  color: #fff;
  font-size: 14px;
}

.header .btn-login:hover {
  background-color: #1278AF;
}

@media screen and (max-width: 991px) {
  .header > .container {
    max-width: inherit;
  }
}

@media screen and (max-width: 575px) {
  .header > .container {
    padding: 20px 20px;
  }
  .header_logo {
    width: 100px;
  }
}

@media screen and (max-width: 400px) {
  .header > .container {
    padding: 20px 15px;
  }
  .header .btn-download {
    padding: 6px 10px 6px 15px;
    margin-right: 10px;
  }
  .header .btn-download span {
    font-size: 12px;
  }
  .header .btn-login {
    padding: 6px 10px;
    font-size: 12px;
  }
}

.banner {
  position: relative;
  margin-bottom: 100px;
}

.banner_slider {
  position: relative;
  width: 65%;
  padding-bottom: calc(65% * 0.6962);
  margin-left: auto;
}

.banner_swiper {
  position: absolute;
  width: 100%;
  height: 100%;
}

.banner_swiper .swiper-wrapper, .banner_swiper .swiper-slide {
  width: 100%;
  height: 100%;
}

.banner_swiper .swiper-slide > img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
}

.banner_swiper_pagination {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  right: calc((100vw - 1320px) / 2 + 20px);
  bottom: 14.78%;
  z-index: 3;
}

.banner_swiper_pagination .swiper-pagination-bullet {
  background-color: #DDD;
  width: 10px;
  height: 10px;
  margin-left: 9px;
  opacity: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.banner_swiper_pagination .swiper-pagination-bullet-active {
  background-color: #2386BC;
  width: 15px;
  border-radius: 100px;
}

.banner_mask {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
  z-index: 1;
}

.banner_text {
  position: absolute;
  top: 35.9%;
  left: calc((100vw - 1320px) / 2 + 20px);
  z-index: 3;
}

.banner_text_main {
  width: 40%;
}

.banner_text h1 {
  color: #333;
  font-size: 36px;
  font-weight: 600;
  letter-spacing: 0.08em;
  margin-bottom: 25px;
}

@media screen and (max-width: 1399px) {
  .banner_swiper_pagination {
    right: calc((100vw - 1140px) / 2 + 20px);
  }
  .banner_text {
    left: calc((100vw - 1140px) / 2 + 20px);
  }
}

@media screen and (max-width: 1199px) {
  .banner_swiper_pagination {
    right: calc((100vw - 960px) / 2 + 20px);
  }
  .banner_text {
    left: calc((100vw - 960px) / 2 + 20px);
  }
}

@media screen and (max-width: 991px) {
  .banner_swiper_pagination {
    right: 20px;
  }
  .banner_text {
    left: 20px;
  }
  .banner_text h1 {
    font-size: 32px;
  }
  .banner_text p {
    font-size: 14px;
  }
}

@media screen and (max-width: 767px) {
  .banner {
    margin-bottom: 50px;
  }
  .banner_slider {
    width: 100%;
    padding-bottom: 95.2%;
  }
  .banner_text {
    position: static;
    padding: 25px 20px 50px;
    width: 100%;
  }
  .banner_text_main {
    width: 100%;
  }
  .banner_text h1 {
    font-size: 28px;
  }
  .banner_swiper_pagination {
    right: inherit;
    left: 25px;
  }
}

@media screen and (max-width: 450px) {
  .banner .btn_pill_bgBlue {
    width: 100%;
    margin: 0 0 20px !important;
  }
  .banner .btn_pill_bgBlue span {
    width: calc(100% - 35px);
    margin: 0;
  }
}

.why {
  padding-bottom: 100px;
  background-image: url(../img/triangle-1.svg);
  background-size: 100%;
  background-position: 0 bottom;
  background-repeat: no-repeat;
}

.why_pic {
  width: 40%;
}

.why_pic > img {
  width: 100%;
}

.why_text {
  width: 60%;
  padding-left: 100px;
}

.why_icon {
  margin: 55px 0 35px;
  margin-left: -15px;
  margin-right: -15px;
}

.why_icon > div {
  padding-left: 15px;
  padding-right: 15px;
}

.why_icon_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.why_icon_pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #DBF0FC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.why_icon_pic > img {
  width: 56%;
}

.why_icon_text {
  width: calc(100% - 50px);
  padding-left: 15px;
  color: #0C7D7D;
  margin: 0;
}

@media screen and (max-width: 1199px) {
  .why_text {
    padding-left: 50px;
  }
}

@media screen and (max-width: 991px) {
  .why_pic {
    width: 100%;
  }
  .why_pic > img {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    display: block;
  }
  .why_text {
    width: 100%;
    padding: 50px 0 0;
  }
}

@media screen and (max-width: 767px) {
  .why_icon {
    margin-left: 0;
    margin-right: 0;
  }
  .why_icon > div {
    padding-left: 0;
    padding-right: 0;
  }
}

.wiser {
  padding: 55px 0;
  background-color: #DBF0FC;
}

.wiser_text {
  width: 50%;
  padding-right: 75px;
}

.wiser_icon {
  width: 50%;
}

.wiser_icon_top {
  padding-bottom: 15px;
}

.wiser_icon_bottom {
  padding-top: 15px;
}

.wiser_icon_item {
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 15px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.wiser_icon_item img {
  width: 65px;
  margin-bottom: 15px;
}

.wiser_icon_item p {
  font-size: 18px;
  width: 100%;
  color: #333;
  text-align: center;
  margin: 0;
}

.wiser_icon_item.tall {
  width: 160px;
  height: 190px;
}

.wiser_icon_item.wide {
  width: 190px;
  height: 160px;
}

.wiser_icon_item.square {
  width: 160px;
  height: 160px;
}

.wiser_icon_item:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

@media screen and (max-width: 1399px) {
  .wiser_text {
    width: 40%;
  }
  .wiser_icon {
    width: 60%;
  }
}

@media screen and (max-width: 991px) {
  .wiser_text {
    width: 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    padding: 50px 0 0;
  }
  .wiser_icon {
    width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media screen and (max-width: 767px) {
  .wiser_icon_top {
    padding-bottom: 10px;
  }
  .wiser_icon_bottom {
    padding-top: 10px;
  }
  .wiser_icon_item {
    margin: 0 10px;
  }
  .wiser_icon_item img {
    width: 40px;
  }
  .wiser_icon_item p {
    font-size: 16px;
  }
  .wiser_icon_item.tall {
    width: 120px;
    height: 140px;
  }
  .wiser_icon_item.wide {
    width: 140px;
    height: 120px;
  }
  .wiser_icon_item.square {
    width: 120px;
    height: 120px;
  }
}

@media screen and (max-width: 480px) {
  .wiser_icon_bottom {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .wiser_icon_bottom .wiser_icon_item {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 350px) {
  .wiser_icon_item {
    border-radius: 15px;
  }
  .wiser_icon_item img {
    margin-bottom: 10px;
  }
  .wiser_icon_item p {
    font-size: 14px;
  }
  .wiser_icon_item.tall {
    width: 100px;
    height: 120px;
  }
  .wiser_icon_item.wide {
    width: 120px;
    height: 100px;
  }
  .wiser_icon_item.square {
    width: 100px;
    height: 100px;
  }
}

.angle {
  margin-bottom: 150px;
  background-image: url(../img/triangle-2.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.angle_pic {
  width: 55%;
}

.angle_pic > img {
  width: 100%;
}

.angle_text {
  width: 45%;
  padding-left: 100px;
}

@media screen and (max-width: 1199px) {
  .angle_text {
    padding-left: 50px;
  }
}

@media screen and (max-width: 991px) {
  .angle_pic {
    width: 100%;
  }
  .angle_text {
    width: 100%;
    padding: 50px 0 0;
  }
}

.member {
  padding-top: 50px;
  padding-bottom: 100px;
  position: relative;
}

.member .subTitle {
  color: #fff;
}

.member_arrow_item {
  width: 35px;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin: 0 8px;
  border: 1px solid #1278AF;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
}

.member_arrow_item > svg {
  width: 22px;
  height: 22px;
}

.member_arrow_item > svg path {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.member_arrow_item:hover {
  background-color: #1278AF;
  border-color: #fff;
}

.member_arrow_item:hover > svg path {
  fill: #fff;
}

.member_swiper {
  padding: 20px 0 20px 10px;
}

.member_swiper-box {
  padding-left: calc((100vw - 1320px) / 2 + 20px);
  margin: 35px 0 0;
}

.member_swiper .swiper-slide {
  height: auto;
}

.member_swiper_item {
  padding: 25px 25px 45px;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.95);
  -webkit-box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
  height: 100%;
  position: relative;
}

.member_swiper_pic {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: relative;
  margin: 0 auto;
}

.member_swiper_pic > img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
}

.member_swiper_text {
  padding: 20px 0;
  background-image: url(../img/quotation-1.svg), url(../img/quotation-2.svg);
  background-size: 40px auto, 40px auto;
  background-repeat: no-repeat;
  background-position: 0 0, right bottom;
  margin-bottom: 30px;
}

.member_swiper_text p {
  margin: 0;
  text-align: justify;
}

.member_swiper_name {
  text-align: center;
  font-weight: 500;
  margin: 0;
  color: #333;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 25px;
}

.member .round-1 {
  top: 0;
  right: calc((100vw - 1320px) / 2);
}

.member .round-2 {
  top: 70%;
  right: 72%;
}

.member .round-3 {
  top: calc(70% - 5vw);
  right: calc((100vw - 1320px) / 2 - 5vw);
}

.member::before {
  position: absolute;
  content: "";
  width: calc(100vw - (100vw - 1320px) / 2);
  height: 70%;
  background-color: #1278AF;
  top: 0;
  left: 0;
  z-index: -1;
}

.member::after {
  position: absolute;
  content: "";
  width: 72%;
  height: 30%;
  background-color: #1278AF;
  top: 70%;
  right: 0;
  z-index: -1;
}

@media screen and (max-width: 1399px) {
  .member .round-1 {
    right: calc((100vw - 1140px) / 2);
  }
  .member .round-3 {
    right: calc((100vw - 1140px) / 2 - 5vw);
  }
  .member_swiper-box {
    padding-left: calc((100vw - 1140px) / 2 + 20px);
  }
  .member::before {
    width: calc(100vw - (100vw - 1140px) / 2);
  }
}

@media screen and (max-width: 1199px) {
  .member .round-1 {
    right: calc((100vw - 960px) / 2);
  }
  .member .round-3 {
    right: calc((100vw - 960px) / 2 - 5vw);
  }
  .member_swiper-box {
    padding-left: calc((100vw - 960px) / 2 + 20px);
  }
  .member::before {
    width: calc(100vw - (100vw - 960px) / 2);
  }
}

@media screen and (max-width: 991px) {
  .member .round-1 {
    right: calc((100vw - 720px) / 2);
  }
  .member .round-3 {
    right: calc((100vw - 720px) / 2 - 5vw);
  }
  .member_swiper-box {
    padding-left: calc((100vw - 720px) / 2 + 20px);
  }
  .member::before {
    width: calc(100vw - (100vw - 720px) / 2);
  }
}

@media screen and (max-width: 767px) {
  .member > .container {
    max-width: inherit;
  }
  .member .round-1 {
    right: 0;
  }
  .member .round-3 {
    display: none;
  }
  .member_swiper-box {
    padding-left: 20px;
  }
  .member::before {
    width: 100%;
  }
}

.prize {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 70px 0;
  -webkit-box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
  padding: 65px 100px;
}

.prize_round {
  position: absolute;
  width: 5vw;
  top: 60%;
  right: 70px;
  z-index: -1;
}

.prize-box {
  position: relative;
  padding: 0 20px 100px;
}

.prize-box::before {
  position: absolute;
  content: "";
  width: 72%;
  height: 60%;
  background-color: #1278AF;
  top: 0;
  right: 0;
  z-index: -1;
}

.prize-box::after {
  position: absolute;
  content: "";
  width: 70px;
  height: 40%;
  background-color: #1278AF;
  top: 60%;
  right: 0;
  z-index: -1;
}

.prize .row {
  margin-left: -50px;
  margin-right: -50px;
}

.prize .row > div {
  padding-left: 50px;
  padding-right: 50px;
}

.prize_item img {
  display: block;
  margin: 0 auto 25px;
  max-width: 120px;
  width: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.prize_item p {
  text-align: center;
  margin: 0;
  color: #333;
}

.prize_item:hover img {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

@media screen and (max-width: 991px) {
  .prize {
    padding: 50px;
  }
  .prize .row {
    margin-left: -25px;
    margin-right: -25px;
  }
  .prize .row > div {
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media screen and (max-width: 767px) {
  .prize {
    padding-bottom: 35px;
  }
  .prize_item {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 450px) {
  .prize {
    padding-left: 20px;
    padding-right: 20px;
  }
  .prize .row {
    margin-left: -15px;
    margin-right: -15px;
  }
  .prize .row > div {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 350px) {
  .prize_item p {
    font-size: 14px;
  }
}

.explore {
  position: relative;
  padding-top: 90px;
  padding-bottom: 150px;
}

.explore_content {
  position: relative;
  width: 100%;
}

.explore_content > img {
  width: 83%;
}

.explore_text {
  position: absolute;
  width: 45%;
  bottom: 50%;
  right: 40px;
  padding-left: 100px;
}

.explore::after {
  position: absolute;
  content: "";
  width: 70px;
  height: 100%;
  background-color: #1278AF;
  top: 0;
  right: 0;
  z-index: -1;
}

.explore_round {
  bottom: 0;
  right: 70px;
}

@media screen and (max-width: 991px) {
  .explore > .container {
    max-width: inherit;
  }
  .explore_content > img {
    width: 70%;
    display: block;
    margin: 0 auto;
  }
  .explore_text {
    position: static;
    width: 70%;
    padding: 50px 0 0;
    margin: 0 auto;
  }
}

@media screen and (max-width: 767px) {
  .explore {
    padding-top: 0;
  }
  .explore_content > img {
    width: calc(100% - 70px);
    margin: 0;
  }
  .explore_text {
    width: calc(100% - 70px);
    margin: 0;
  }
}

@media screen and (max-width: 400px) {
  .explore_content > img {
    width: 100%;
    margin: 0;
  }
}

.footer {
  padding: 80px 0 15px;
  background-color: #1278AF;
  position: relative;
}

.footer_round {
  top: 0;
  left: 0;
  z-index: 1;
}

.footer_form {
  width: 33%;
  margin-right: 90px;
}

.footer_form h3 {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 25px;
  text-align: center;
}

.footer_form .input {
  margin-bottom: 25px;
}

.footer_form button {
  padding: 8px 45px;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 100px;
  color: #1278AF;
  display: block;
  margin: 0 auto;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.footer_form button:hover {
  background-color: transparent;
  color: #fff;
}

.footer_line_qrcode {
  width: 150px;
}

.footer_line_qrcode > img {
  width: 100%;
}

.footer_line_text {
  width: calc(100% - 150px);
  padding-left: 50px;
}

.footer_line h3 {
  color: #fff;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 30px;
}

.footer_line p {
  color: #fff;
  margin-bottom: 30px;
}

.footer_line .btn_pill_bgWhite {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.footer .copyright {
  text-align: center;
  margin: 80px 0 0;
  color: #fff;
  font-size: 14px;
}

@media screen and (max-width: 1199px) {
  .footer > .container {
    max-width: inherit;
  }
  .footer_form {
    margin-right: 30px;
  }
  .footer_line_text {
    padding-left: 25px;
  }
}

@media screen and (max-width: 991px) {
  .footer_form {
    width: 100%;
    margin-bottom: 80px;
  }
  .footer_line {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
  }
  .footer_line h3 {
    font-size: 32px;
  }
}

@media screen and (max-width: 450px) {
  .footer_line_qrcode {
    width: 100px;
  }
  .footer_line_text {
    width: calc(100% - 100px);
    padding-left: 15px;
  }
  .footer_line h3 {
    font-size: 24px;
  }
  .footer_line p {
    font-size: 14px;
    margin: 0;
  }
}

#openAccount .modal-content {
  -webkit-box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  border: 0;
  border-radius: 30px;
}

#openAccount .modal-body {
  padding: 45px 40px 60px;
}

#openAccount h5 {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 15px;
  color: #333;
}

#openAccount p {
  text-align: center;
  font-size: 18px;
  margin-bottom: 35px;
  color: #7B7B7B;
}

#openAccount .row {
  margin-left: -27px;
  margin-right: -27px;
}

#openAccount .row > div {
  padding-left: 27px;
  padding-right: 27px;
}

#openAccount input {
  margin-bottom: 20px;
}

#openAccount .cross {
  position: absolute;
  width: 30px;
  top: 45px;
  right: 40px;
  cursor: pointer;
}

@media screen and (max-width: 575px) {
  #openAccount .modal-body {
    padding: 45px 20px 60px;
  }
  #openAccount .cross {
    top: 20px;
    right: 20px;
  }
}

.modal-dialog {
  max-width: 940px;
  margin: 10vw auto;
  width: calc(100% - 30px);
}

.btn-fixed {
  position: fixed;
  right: 40px;
  bottom: 80px;
  width: 60px;
  height: 60px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #4CAF50;
  z-index: 5;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform-origin: 30px;
          transform-origin: 30px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.btn-fixed svg {
  width: 55%;
  height: 55%;
}

.btn-fixed svg path {
  fill: #4CAF50;
}

.btn-fixed:hover {
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  background-color: #4CAF50;
}

.btn-fixed:hover svg path {
  fill: #fff;
}

@media screen and (max-width: 767px) {
  .btn-fixed {
    width: 50px;
    height: 50px;
    right: 20px;
    bottom: 30px;
  }
}
/*# sourceMappingURL=style.css.map */